.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin: 2rem 0;
  padding: 10px;
}

.pagination button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  color: white;
  background-color: #1E2226;
  text-align: center;
  line-height: 1rem;
}

.pagination button:hover:not(:disabled) {
  transform: translateY(-2px);
  color: #12F7FF;
  background-color: rgba(18, 247, 255, 0.40);
}



.pagination button:disabled {
  opacity: .4;
  cursor: not-allowed;
}

.active {
  font-weight: bold;
  border-bottom: 4px solid #12F7FF;
}