.header_mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    background: var(--bg-color);
}
  
.header_mobile .logo {
    display: flex;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header_mobile .logo span { color: var(--hover-color); }

.nav_list_mobile {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all .45s ease;
}

.nav_list_mobile a {
    display: inline-block;
    color: var(--text-color);
    font-size: var(--fs-5);
    font-weight: var(--fw-500);
    padding: 10px 20px;
    padding-bottom: 1rem;
}
  
.nav_list_mobile.open { top: 100%; }

#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    transition: all .4s ease;
}

#menu-icon.bx { transform: rotate(-180deg); }

@media (min-width: 580px) {
    .header_mobile { display: none; }
}
