.containerSkills {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.section {
  padding-top: 5px;
}

.title {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
}

.subtitle {
  font-family: "Poppins-Bold", Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.skillsList {
  display: flex;
  height: fit-content;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.5rem;
  padding-top: 0.75rem;
  flex-shrink: 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.item {
  background-color: #292e33;
  border-radius: 12px;
  padding: 5px 8px;
  color: #eef;
  font-family: "Poppins-Light", Helvetica;
  font-size: 14px;
}

.item a {
  color: #eef;
}

.item a:visited {
  color: rgba(18, 247, 255, 0.40);
}

.item a:hover {
  color: #12F7FF;
  text-decoration: underline;
}

.item a:active {
  color: #12F7FF;
}

.technologiesList {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  gap: 0.75rem;
  padding-top: 0.75rem;
}

.behavioralList {
  font-family: Poppins;
  font-size: 0.8rem;
  letter-spacing: 0.0625rem;
  text-transform: capitalize;
  padding-left: 40px;
}

.behavioralList li {
  list-style: circle;
}