.filter_select_box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;
    gap: 1rem;
}

.filter_select {
    background: var(--second-bg-color);
    color: var(--text-color);
    width: 100%;
    padding: 12px 16px;
    border: 1px solid var(--hover-color);
    border-radius: 14px;
    font-size: var(--fs-5);
    font-weight: var(--fw-300);
}

.filter_input {
    flex: 2;
}

.filter_select_button_box {
    position: relative;
    flex: 1;
}

.clear_selection {
    cursor: pointer;
    padding: 10px;
    font-weight: bolder;
    color: var(--text-color);
}

.clear_selection:hover,
.clear_selection:focus {
    background: #141414;
    color: var(--hover-color);
    outline: 2px solid #3b82f6;
    outline-offset: 3px;
}

.filter_button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select_list {
    background: var(--second-bg-color);
    position: absolute;
    top: calc(100% + 6px);
    width: 100%;
    padding: 6px;
    border: 1px solid var(--hover-color);
    border-radius: 14px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.15s ease-in-out;
    box-sizing: border-box;
}

.select_list.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.select_item button {
    color: var(--text-color);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    text-transform: capitalize;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
}

.select_item button:hover {
    background: var(--hover-bg-color);
    color: var(--hover-color);
}

@media (min-width: 768px) {
  .filter_select_box {
    flex-direction: row;
  }
}