.github_perfil {
    display: flex;
    flex-direction: column;
}

.github_perfil span {
    color: var(--text-color);
    font-weight: var(--fw-300);
    font-size: var(--fs-6);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.github_user {
    display: flex;
    align-items: center;
    padding: 5px;
}

.github_user .github_user_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.github_user .github_user_container {
    padding-left: 2rem;
}

.github_user .github_username {
    color: var(--hover-color);
    font-weight: var(--fw-600);
    font-size: var(--fs-3);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.github_user .repos_info {
    color: var(--text-color);
    font-size: var(--fs-5);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 450px) {
    .github_user {
        gap: 30px;
    }
}