.tooltip {
    position: absolute;
    top: -40px;
    background: var(--bg-gradient-onyx);
    min-width: max-content;
    color: var(--hover-color);
    font-size: 15px;
    font-weight: var(--fw-600);
    padding: 5px 10px;
    border-radius: var(--radius-4);
    box-shadow: var(--shadow-1);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 1;
}

.skills-icons:is(:hover, :focus) .tooltip {
    transform: translateY(0);
    opacity: 1;
}