.last_projects {
  width: 100%;
  height: max-content;
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--secon-bg-color);
  border: 2px solid var(--jet);
}

.last_projects h2 {
  color: var(--text-color);
  font-weight: var(--fw-400);
  font-size: var(--fs-4);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0;
}

.project_name_img {
  position: relative;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.project_name_img>a:hover .project_img::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project_name_img>a:hover .project_item_icon_box {
  --scale: 1;
  opacity: 1;
}

.projects_item_title {
  display: flex;
  align-items: center;
  /* height: 100px; */
  color: var(--text-color);
  font-weight: var(--fw-400);
  font-size: var(--fs-8);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.project_img {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project_img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project_item_icon_box {
  --scale: 0.8;
  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project_name_img>a:hover .project_item_icon_box {
  --scale: 1;
  opacity: 1;
}

.project_item_icon_box ion-icon {
  --ionicon-stroke-width: 50px;
}


@media (min-width: 450px) {
  .project_img {
    height: auto;
  }
}

@media (min-width: 580px) {
  .project_img {
    border-radius: 16px;
  }
}

@media (min-width: 1024px) {
  .projects_item_title {
    font-size: var(--fs-8);
  }
}